/* 
font-family: 'Bungee Spice', cursive;
font-family: 'Oxanium', cursive;
*/
:root{
    /* COLORS */
    --clr-bg: #2C3F49;
    --clr-accent: #FFCC17;
    --clr-titles: #FFF099;
    --clr-text: #E9F2F9;

    /* FONTS */
    --ft-ff-title: 'Bungee', cursive;
    --ft-ff-text: 'Oxanium', cursive;

    --ft-sz-title: 1.5em;
    --ft-sz-subtitle: 1.25em;
    --ft-sz-text: 1em;

    /* BORDER / MARGINS / PADDINGS */
    --br: 1px solid var(--clr-text);
}
body{
    scroll-behavior: smooth;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    background-color: var(--clr-bg);
    color: var(--clr-text);
}


/* MAIN LAYOUT */
.main-layout{
    width: 100vw;
    height: 100vh;
}
.header{
    text-align: center;
    padding: 20px 0;
    border-bottom: var(--br);
}
.logo{
    font-family: var(--ft-ff-title);
    font-size: var(--ft-sz-title);
    color: var(--clr-accent);
}

.menu{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
.menu__list{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}
.menu__item-dot{
    width: 30px;
    height: 30px;
    background-color: var(--clr-text);
    border-radius: 50%;
    cursor: pointer;
}
.menu__item-dot:hover{
    background-color: var(--clr-accent);
}

@media screen and (min-width: 960px) {
    .menu{
        position: absolute;
        top: 0;
        left: 90%;
    }
    .menu__list{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
        padding-top: 80px;
        padding-bottom: 60px;
    }
    .menu__item-dot{
        width: 30px;
        height: 30px;
        background-color: var(--clr-text);
        border-radius: 50%;
    }
}