/* Played around a bit with variables and see if they could help manage future theme changes */
:root{
    /* COLORS */
    --clr-bg: #2C3F49;
    --clr-accent: #FFCC17;
    --clr-titles: #FFF099;
    --clr-text: #E9F2F9;

    /* FONTS */
    --ff-title: 'Bungee', cursive;
    --ff-text: 'Oxanium', cursive;

    --fs-headline: 1.5em;
    --fs-title: 1.25em;
    --fs-subtitle: 1.125em;
    --fs-text: 1em;

    --fw-bold: bold;
    --fw-italic: italic;

    /* BORDER / MARGINS / PADDINGS */
    --br: 1px solid var(--clr-text);
}
body{
    scroll-behavior: smooth;
    position: relative;
    overflow: hidden;
    font-size: 18px;
    background-color: var(--clr-bg);
    color: var(--clr-text);
}


/* MAIN LAYOUT */
.main-layout{
    width: 100vw;
    height: 100vh;
}
.header{
    text-align: center;
    padding: 20px 0;
    border-bottom: var(--br);
}
.logo{
    font-family: var(--ff-title);
    font-size: var(--fs-title);
    color: var(--clr-accent);
}
.menu{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
.menu__list{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}
.fa-regular{
    cursor: pointer;
}
.fa-regular:hover{
    color: var(--clr-titles)!important;
    cursor: pointer;
}


/* GENERAL CONTENT */
.wrapper{
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
}
.headline{
    color: var(--clr-accent);
    font-family: var(--ff-title);
    font-size: var(--fs-headline);
    margin-top: 40px;
    margin-bottom: 16px;
}
.section__title{
    color: var(--clr-titles);
    font-family: var(--ff-title);
    font-size: var(--fs-title);
    letter-spacing: 1px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-inline: 2px;
}
.section__p{
    color: var(--clr-text);
    font-family: var(--ff-text);
    font-size: var(--fs-text);
    margin-bottom: 16px;
}
.section__p-acc{
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
}
.section__title-blog{
    color: var(--clr-bg);
    font-family: var(--ff-title);
    font-size: var(--fs-title);
    margin: 16px 0;
}
.section__p-blog{
    color: var(--clr-bg);
    font-family: var(--ff-text);
    font-size: var(--fs-text);
    margin-bottom: 16px;
}
.main__btn{
    background-color: var(--clr-accent);
    color: var(--clr-bg);
    font-family: var(--ff-text);
    font-size: var(--fs-subtitle);
    padding: 12px 24px;
    border-radius: 16px;
}
.main__btn:hover{
    background-color: var(--clr-text);
    color: var(--clr-bg);
    cursor: pointer;
}
.btn{
    background-color: var(--clr-accent);
    color: var(--clr-bg);
    font-family: var(--ff-text);
    font-size: var(--fs-subtitle);
    padding: 8px 16px;
    border-radius: 16px;
}
.btn:hover{
    background-color: var(--clr-bg);
    color: var(--clr-text);
    cursor: pointer;
}


/* HOME CONTENT */
.home__banner{
    width: 40%;
    max-width: 263px;
    margin: 40px auto;
}
.home__info{
    padding: 0 24px;
}


/* ABOUT CONTENT */
.about__banner{
    width: 40%;
    max-width: 500px;
    margin: 24px auto 40px auto;
}
.about__icons{
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    margin: 16px auto;
}
.about__icons img{
    cursor: pointer;
}
.swiper-about-slide{
    padding: 8px;
    margin-top: 80px;
}
.about__carrossel{
    position: relative;
}
.swiper-pagination{
    position: absolute;
    top: 0px!important;
}
.swiper-pagination-bullet {
    width: 56px!important;
    height: 56px!important;
    text-align: center;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}


/* PROJECTS CONTENT */
.projects__covers{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;
}
.projects__covers .row{
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}
.projects__covers-img{
    cursor: pointer;
}
#rowProjects,
#rowProjectsSpecific{
    display: none;
}
.project__title{
    color: var(--clr-titles);
    font-family: var(--ff-title);
    font-size: var(--fs-subtitle);
    font-weight: var(--fw-bold);
}

.projects__covers .row__projects-specific-text{
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: 16px;
}
.breadcrumbs{
    display: flex;
    justify-content: center
}
.breadcrumbs__trail-first,
.breadcrumbs__trail-second,
.breadcrumbs__trail-third{
    color: var(--clr-titles);
    font-family: var(--ff-text);
    font-size: var(--fs-text);
    font-weight: var(--fw-bold);
}

/* CAREER CONTENT */
.wrapper-job{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.job{
    margin-bottom: 16px;
}
.job-details{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 8px;
    margin-bottom: 24px;
}
.job-logo{
    width: 20%;
    max-width: 100px;
}
.job-info{
    text-align: left;
}
.job-title{
    color: var(--clr-text);
    font-family: var(--ff-title);
    font-size: var(--fs-subtitle);
    font-weight: var(--fw-bold);
}
.job-timming{
    color: var(--clr-text);
    font-family: var(--ff-text);
    font-size: var(--fs-text);
    font-weight: var(--fw-bold);
    line-height: 1;
}
.job-description{
    text-align: left;
}
.job-description h3{
    color: var(--clr-accent);
    font-family: var(--ff-title);
    font-size: var(--fs-subtitle);
    font-weight: var(--fw-bold);
}
.job-description p{
    color: var(--clr-text);
    font-family: var(--ff-text);
    font-size: var(--fs-text);
    line-height: 1;
    margin-bottom: 8px;
}

/* BLOG CONTENT */
.blog__grid{
    display: flex;
}
.swiper-blog-wrapper{
    gap: 16px;
}
.swiper-blog-slide{
    position: relative;
    background-color: var(--clr-text);
    color: #000;
    padding: 8px;
    height: 320px!important;
}
.section__p-blog-text{
    display: none;
}
.swiper-blog-slide .btn{
    position: absolute;
    bottom: 2px;
    right: 0;
    left: 0;
    margin-inline: auto;
    width: 150px;
}


/* CONTACTS CONTENT */
.socials{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.social{
    width: 15%;
}


/* LOGIN / REGISTER CONTENT */
.login__form,
.blog__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--ff-text);
    gap: 16px;
    width: 100%;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.login__form .login__input,
.blog__form .blog__input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.blog__form .project__input{
    text-align: start;
}
.login__form .login__input input,
.login__form .login__input-pass,
.blog__form .blog__input input{
    width: 100%;
}
.login__input-pass{
    display: flex;
    align-items: center;
    gap: 8px;
}
.login__nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}
.login__nav a{
    color: var(--clr-text);
    font-family: var(--ff-text);
    font-size: var(--fs-text);
    text-decoration: underline;
    margin-top: 8px;
}


/* ADMIN CONTENT */
.areas{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 32px;
}

.areas a{
    width: 200px;
    margin-inline: auto;
}
.post__list{
    margin-inline: auto;
    max-width: 300px;
}
.post__info{
    display: flex;
    border: 1px solid var(--clr-accent);
    padding: 8px 8px;
}
.post__info p a{
    color: var(--clr-text);
    text-decoration: none;
}
.post__info p a:hover{
    color: var(--clr-accent);
}
.admin__main-btn{
    display: inline-block;
    margin-top: 20px;
}


/* FOR DESKTOP */
@media screen and (min-width: 960px) {
    .menu{
        position: absolute;
        top: 0;
        right: 90%;
    }
    .menu__list{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
        padding-top: 80px;
        padding-bottom: 60px;
    }
    .about__banner{
        width:20%;
        max-width: 500px;
        margin: 24px auto 40px auto;
    }
    .projects__covers .row{
        display: flex;
        gap: 16px;
        margin-bottom: 24px;
    }
    .blog__grid{
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr;
        margin-inline: auto;
    }
    .swiper-blog-wrapper{
        gap: 16px;
    }
    .swiper-blog-slide{
        position: relative;
        background-color: var(--clr-text);
        color: #000;
        padding: 8px;
        height: 320px!important;
    }
    .section__p-blog-text{
        display: none;
    }
    .swiper-blog-slide .btn{
        position: absolute;
        bottom: 2px;
        right: 0;
        left: 0;
        margin-inline: auto;
        width: 150px;
    }


    .fa-xl{
        font-size: 2em;
    }
}