:root{
    /* COLORS */
    --clr-bg: #2C3F49;
    --clr-accent: #FFCC17;
    --clr-titles: #FFF099;
    --clr-text: #E9F2F9;

    /* FONTS */
    --ff-title: 'Bungee', cursive;
    --ff-text: 'Oxanium', cursive;

    --fs-headline: 2em;
    --fs-title: 1.5em;
    --fs-subtitle: 1.25em;
    --fs-text: 1em;

    --fw-bold: bold;
    --fw-italic: italic;

    /* BORDER / MARGINS / PADDINGS */
    --br: 1px solid var(--clr-text);
}
body{
    scroll-behavior: smooth;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    background-color: var(--clr-bg);
    color: var(--clr-text);
}


/* MAIN LAYOUT */
.main-layout{
    width: 100vw;
    height: 100vh;
}
.header{
    text-align: center;
    padding: 20px 0;
    border-bottom: var(--br);
}
.logo{
    font-family: var(--ff-title);
    font-size: var(--fs-title);
    color: var(--clr-accent);
}
.menu{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
.menu__list{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}
.menu__item-dot{
    width: 30px;
    height: 30px;
    background-color: var(--clr-text);
    border-radius: 50%;
    cursor: pointer;
}
.menu__item-dot:hover{
    background-color: var(--clr-accent);
}


/* GENERAL CONTENT */
.wrapper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
.headline{
    color: var(--clr-accent);
    font-family: var(--ff-title);
    font-size: var(--fs-headline);
    margin-top: 40px;
    margin-bottom: 16px;
}
.section__title{
    color: var(--clr-titles);
    font-family: var(--ff-title);
    font-size: var(--fs-title);
    margin-top: 24px;
    margin-bottom: 16px;
}
.section__p{
    color: var(--clr-text);
    font-family: var(--ff-text);
    font-size: var(--fs-text);
    margin-bottom: 16px;
}
.section__p-acc{
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
}
.erro__btn{
    background-color: var(--clr-accent);
    color: var(--clr-text);
    font-family: var(--ff-text);
    font-size: var(--fs-subtitle);
    padding: 12px 24px;
    border-radius: 16px;
}
.erro__btn:hover{
    background-color: var(--clr-text);
    color: var(--clr-accent);
}


/* HOME CONTENT */
.home__banner{
    width: 100%;
    max-width: 263px;
    margin: 40px auto;
}
.home__info{
    padding: 0 24px;
}


/* ABOUT CONTENT */
.about__banner{
    width: 100%;
    max-width: 263px;
    margin: 24px auto 40px auto;
}
.about__icons{
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    margin: 16px auto;
}
.about__icons img{
    cursor: pointer;
}


/* PROJECTS CONTENT */
.projects__covers{
    display: flex;
}
.breadcrumbs{
    margin-top: 24px;
}
.breadcrumbs__trail-first{
    color: var(--clr-titles);
    font-family: var(--ff-text);
    font-size: var(--fs-text);
    font-weight: var(--fw-bold);
    text-decoration: underline;
}
/* CAREER CONTENT */
/* BLOG CONTENT */
/* CONTACTS CONTENT */




/* FOR DESKTOP */
@media screen and (min-width: 960px) {
    .menu{
        position: absolute;
        top: 0;
        left: 90%;
    }
    .menu__list{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
        padding-top: 80px;
        padding-bottom: 60px;
    }
    .menu__item-dot{
        width: 30px;
        height: 30px;
        background-color: var(--clr-text);
        border-radius: 50%;
    }
}